:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

ul {
  margin: 0;
}

li {
  margin: 1rem;
}

a {
  padding: 0.5rem;
  color: #fff;
  border-radius: 0.25rem;
}

a:focus {
  background: #333;
}

a:hover {
  background: #000;
}

a:active {
  background: #000;
  color: #ffffff;
}

.container {
  width: 1600px;
  height: 1200px;
}

input,
select,
button {
  font-size: 1rem;
  padding: 0.25rem;
}
